/*
Author:Michael Bilberry
Date:January, 2018

Purpose: Provide a convienent method to prove basic competencies and provide code review without having to transfer a Resume/portfolio. 
Contact: admin@michaelbilberry.com
*/

.title {
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
        font-size: 75px;
} 

header {
        padding: 1em;
        color: #696969;
        background-color: black;
        text-align: center;
}

body   {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(105,105,105,1));
        margin: 0;

}

#navslim {
    display: none;
    border: 2px solid #290000;
    position: fixed;
    border-radius: 15px;
    bottom: 0px;
    left: 40%;
    background-color: darkslategray;
    color: #9E9E9E;
    z-index: 2;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2.5em;
    /* transform: rotate(-90deg); */
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: bold;
}

.deets {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        text-align: center;
        margin-top:0px;
    letter-spacing: 2.0px;
    font-size: 2vw;
    font-weight: bold;
}

h1 {
        margin-top: 0.2em;
}

h2 {
        margin-top: 1.5em;
}

h3 {
        margin-top:1.5em;
        margin-bottom:0.1em;
}

nav {
	z-index: 3;
background-image: linear-gradient(to top, rgba(105,105,105,0), rgba(211,211,211,1));
/*        background-color: lightgray;*/
        float: left;
        position: sticky;
        top: -1px;
        min-width: 200px;
        max-width: 300px;
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}




nav ul {
        list-style-type: none;
        padding: 0;
}

nav ul a {
        text-decoration: none;
}

.container {
        width: 100%;
}

article {
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
        font-size: 25px;
        border-left: 1px solid gray;
        padding: 1em;
        overflow: hidden;
}

hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 2px;
}

.cardtitle {
        color: grey;
        font-size: 18px;
}

.card {
        min-width: 100%;
        text-align: center;
}

.cardicons img {
        padding-top: 50px;
        width:30%;
        height:auto;
        border:0;
}

button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 24px;
}

.contactme {
        text-align:left;
        font-size:50;
        margin:10%;
}

.projects {
	position:0;
        text-align:left;
        font-size:20px;
        margin:5%;
}

a {
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
        text-decoration: none;
        font-size: inherit;
        color: black;
}

cardbutton:hover, ahover:hover {
        opacity: 0.3;
}

.guestbook {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        background-color: silver;
	width:100%;
	height:auto;
	border:0;
	margin-top:5em;
}

.storage {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        background-color:dimgray;
	width:100%;
	height:auto;
	margin-top:1em;
}

.dashboard {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        background-color: dimgray;
	width:100%;
	height:auto;
	margin-top:1em;
}

.bottompic {
        z-index: 0;
        bottom: 0px;
        width:100%;
}

footer {
        position: bottom;
        padding: 1em;
        margin-top:2500;
        margin-bottom:0;
        left:0;
        background-color: black;
        color: dimgray;
        text-align: center;
}

