/*
Author:Michael Bilberry
Date:January, 2018

Purpose: Provide a convienent method to prove basic competencies and provide code review without having to transfer a Resume/portfolio.
Contact: admin@michaelbilberry.com

.class{}  - Select any element with that class name.
p.class{} - select paragraph elements with this class name
.class div{} - select any div that is a descendant of any element with this class name 
div.class{} - Same as p.class it will only apply to divs with this class name

#header .callout{} - Select all elements with the class name callout that are decendents of the element with an ID of header.
#header.callout{} - Select the element which has an ID of header and also a class name of callout.
*/

#container_right {
        height:100%;
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#container_center {
        height:100%;
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.333%;
}
#container_left {
        height:100%;
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
}
#container_column_left{
        height:100%;
	float:left;
	width:15%;
	position:relative;
	left:66.67%;
	overflow:hidden;
  border: 1px solid gray;
  text-align: center;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

#container_column_center{
        height:100%;
	float:left;
	min-width:5%;
	position:relative;
	left:68.67%;
	overflow:hidden;
}
#container_column_right {
	float:left;
        height:100%;
	width:70%;
	position:relative;
	left:70%;
	overflow:hidden;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contactme a img {
	max-width:80%;
        min-width:50px;
        height:auto;
        margin: 25px;
}


.title {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 100%;
}

body, html {
  height: 100%;
}

header {
  font-size:2.0vw;
  padding-top: 1em;
  color: white;
  background-color: black;
  clear: both;
  text-align: center;
}

header.p {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-align: center;
  letter-spacing: 2.0px;
  font-size: 0.8vw;
  vertical-align: top;
  color: white;
}

h2, h3 {
  margin-top: 1.5em;
  margin-bottom: 0.1em;
}

hr {
  display: block;
  margin: 0.5em auto 0.5em auto;
  border-style: inset;
  border-width: 2px;
}

.buttondiv {
  float: left;
  position: relative;
  height: 100%;
}

button {
  border: none;
  display: inline-block;
  color: white;
  text-align: center;
  cursor: pointer;
  height: 100%;
}

button:hover, ahover:hover {
  opacity: 0.7;
}

.projects {
  width: 256;
  float: left;
  text-align: left;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
}

a {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-decoration: none;
  font-size: inherit;
  color: black;
}

.bottompic {
  z-index: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer {
  position: absolute;
  padding: 1em;
  left: 0;
  right: 0;
  background-color: black;
  clear: both;
  color: white;
  text-align: center;
}


#sidebar a {
  color: #fff;
  font-size: 1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}

#container_column_left a:hover {
  opacity: 1;
}
#sidebarhidden:hover {
  opacity: 1;
}

#sidebar:hover {
  width: 24%;
}

.parallax {
    /* The image used */
    background-image: url('img_parallax.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
